footer {
    background: #424040;
    color: white;
    height: 60px;
    margin: 0 auto;
    width: 60%;
}

footer p {
    padding: 15px 5px;
    text-align: center;
}

footer a {
    color: white;
}