/* 
 Finance Business
*/

@import url(base/_reset.css);

@import url(components/_preloader.css);
@import url(components/_header.css);
@import url(components/_banner.css);
@import url(components/_request-form.css);
@import url(components/_service.css);
@import url(components/_fun-fact.css);
@import url(components/_more-info.css);
@import url(components/_testimonials.css);
@import url(components/_call-back.css);
@import url(components/_partner.css);
@import url(components/_footer.css);
@import url(components/_contact-info.css);
@import url(components/_team.css);

a.filled-button {
	background-color: #a4c639;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 12px 30px;
	border-radius: 30px;
	display: inline-block;
	transition: all 0.3s;
}

a.filled-button:hover {
	background-color: #fff;
	color: #a4c639;
}

a.border-button {
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 28px;
	border-radius: 30px;
	display: inline-block;
	transition: all 0.3s;
}

a.border-button:hover {
	background-color: #fff;
	color: #a4c639;
}

.section-heading {
	text-align: center;
	margin-bottom: 80px;
}

.section-heading h2 {
	font-size: 36px;
	font-weight: 600;
	color: #1e1e1e;
}

.section-heading em {
	font-style: normal;
	color: #a4c639;
}

.section-heading span {
	display: block;
	margin-top: 15px;
	text-transform: uppercase;
	font-size: 15px;
	color: #666;
	letter-spacing: 1px;
}

/* Banner Style */
/* Request Form */
/* Services */
/* Fun Facts */
/* More Info */
/* Testimonials Style */
/* Call Back Style */
/* Partners Style */

.page-heading {
	text-align: center;
	background-image: url(../images/page-heading-bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 230px 0px 150px 0px;
	color: #fff;
}

.page-heading h1 {
	text-transform: capitalize;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: 18px;
}

.page-heading span {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	display: block;
}

/* team */
/* Single Service */
/* Contact Information */

@import url(responsive/_media.css);

.flex-container {
	width: 90%;
	height: 200px;
	background-color: #0b2e13;
	display: flex;
	/*flex-direction: row;*/
	/*flex-wrap: wrap-reverse;*/
	flex-flow: row wrap;
	justify-content: center;
	/*align-items: baseline;*/
	align-content: center;
}

.flex-item {
	width: 70px;
	/*height: 50%;*/
	background-color: antiquewhite;
	margin: 5px;
	line-height: 60px;
	font-size: 20px;
	text-align: center;
}