/*
    Theme Name: First_Theme
    Theme URI: https://gitlab.com/khaminhduong98
    Author: khaminhduong98
    Author URI: https://gitlab.com/
    Description: the very first WordPress project
    Tags: kmd_template, kmd
    Version: 1.0
 */

body {
    color: #333333;
    font-family: Cambria, Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 16px;
}

header.header-area {
    background: lightblue;
    color: black;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    width: 60%;
}

header.header-area h1 a {
    text-decoration: none;
    color: black;
    font-size: 28px;
}

header.header-area h3 {
    color: black;
    font-size: 16px;
}

#main {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#main .post-area .post-meta ul {
    list-style-type: none;
    display: block;
}