.about-testimonials {
    margin-top: 0px!important;
}

.testimonials {
    margin-top: 140px;
    background-color: #f7f7f7;
    padding: 140px 0px;
}
.testimonial-item .inner-content {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}
.testimonial-item p {
    font-size: 14px;
    font-weight: 400;
}
.testimonial-item h4 {
    font-size: 19px;
    font-weight: 700;
    color: #1e1e1e;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
}
.testimonial-item span {
    display: inline-block;
    margin-top: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #a4c639;
}
.testimonial-item img {
    max-width: 60px;
    border-radius: 50%;
    margin: 25px auto 0px auto;
    color: #000;
    background-color: #fff;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-bottom: 20px;
    padding-top: 10rem;
}